.articlepage img{
    max-width: 100%;
    height: auto;
}
#lang-select{
    display: inline-block !important;
}
.post-head-image{
width:100%;
}
.crumb .breadcrumb .breadcrumb-item+.breadcrumb-item:before{
    font-size: 0.85rem;
}
.breadcrumb-item+.breadcrumb-item:before{
    line-height: 18px;
    font-weight: bold;
}
